@font-face {
  font-family: 'iconfont'; /* Project id 4259506 */
  src: url('../iconfont/iconfont.woff2?t=1695125457483') format('woff2'),
    url('../iconfont/iconfont.woff?t=1695125457483') format('woff'),
    url('../iconfont/iconfont.ttf?t=1695125457483') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fenxiang:before {
  content: '\e739';
}

.icon-shouye-shouye:before {
  content: '\e617';
}

.icon-weixin:before {
  content: '\e620';
}

.icon-qq:before {
  content: '\e680';
}

.icon-shezhixitongshezhigongnengshezhishuxing-xian:before {
  content: '\e795';
}

.icon-zhifubao:before {
  content: '\e636';
}

.icon-github:before {
  content: '\e603';
}

.icon-GitHub-fill:before {
  content: '\e621';
}

.icon-xiaoxi1:before {
  content: '\e616';
}

.icon-mima:before {
  content: '\e69c';
}

.icon-user:before {
  content: '\e6b2';
}

.icon-xiangyoujiantou:before {
  content: '\e65f';
}

.icon-gengduo-shuxiang:before {
  content: '\e8c4';
}

.icon-xiaoxi:before {
  content: '\e604';
}

.icon-xiazai:before {
  content: '\e69a';
}

.icon-shuaxin:before {
  content: '\e8fb';
}

.icon-zhuanfa:before {
  content: '\e628';
}

.icon-24gf-playCircle:before {
  content: '\ea83';
}

.icon-guanzhu:before {
  content: '\e601';
}

.icon-sousuo:before {
  content: '\e647';
}

.icon-paixingbang:before {
  content: '\e64b';
}

.icon-rili:before {
  content: '\e602';
}

.icon-saomiao:before {
  content: '\e65c';
}

.icon-hanbaocaidan:before {
  content: '\e632';
}

.icon-zhuanji:before {
  content: '\e60a';
}

.icon-maikefeng:before {
  content: '\e648';
}

.icon-paimai:before {
  content: '\e611';
}

.icon-shuhua:before {
  content: '\e61e';
}

.icon-zhibo:before {
  content: '\e7d5';
}

.icon-gedan:before {
  content: '\e61b';
}

.icon-luyinjishouyinjidiantai:before {
  content: '\e625';
}

.icon-a-youxi2:before {
  content: '\e677';
}

.icon-fanhui:before {
  content: '\e600';
}

.icon-bofang:before {
  content: '\e614';
}

.icon-Headphones:before {
  content: '\e76d';
}

.icon-yonghu:before {
  content: '\e8c8';
}

.icon-show:before {
  content: '\e610';
}

.icon-suijibofang:before {
  content: '\e66b';
}

.icon-xunhuanbofang:before {
  content: '\e66c';
}

.icon-danquxunhuan:before {
  content: '\e66d';
}

.icon-shoucang:before {
  content: '\e630';
}

.icon-yinle:before {
  content: '\e631';
}

.icon-24gl-pause2:before {
  content: '\ea6d';
}

.icon-24gf-play:before {
  content: '\ea82';
}

.icon-gengduo:before {
  content: '\e612';
}

.icon-shangyishou:before {
  content: '\e63c';
}

.icon-xiayishou:before {
  content: '\e63e';
}

.icon-playlist:before {
  content: '\ecec';
}

.icon-wangyiyunyinle:before {
  content: '\e60b';
}

.icon-duanshipinhuati:before {
  content: '\e876';
}

.icon-icon1460045038179-copy:before {
  content: '\e613';
}
